{% load currency %}
{% load static %}
{% load i18n %}

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        
         <div>
             {% include 'mobile/latest.html'%}
         </div>
         
         <div>
             {% include 'mobile/categories.html'%}
         </div>

         <div>
             {% include 'mobile/above50%off.html'%}
         </div>

         <div>
             {% include 'mobile/picked.html'%}
         </div>

    </div>
    <!-- /container -->
</div>
<!-- /section -->